<%= stylesheet_link_tag('personnage') %>

<div class="container menu">

    <img id="status-volume-on" src="/images/volume_on.png" class="volume_icon status-volume">
    <img id="status-volume-off" src="/images/volume_off.png" class="volume_icon status-volume">

    <div id="retourPrincipal">
        Retour
    </div>
    <h1>Choisissez votre classe</h1>

    <div class="hidden" id="user_id"><%= @test %></div>

    <div class="flex space-between" id="images-menu">
        <div class="avatar" id="avatar-1">
            <h1>Archer</h1>
        </div>
        <div class="avatar" id="avatar-3">
            <h1>Assassin</h1>
        </div>
        <div class="avatar" id="avatar-5">
            <h1>Chevalier</h1>
        </div>
        <div class="avatar" id="avatar-7">
            <h1>Mage</h1>
        </div>
    </div>


    <%= form_with model: @personnage, url: personnage_create_path do |form| %>
        <div class="hidden">
            <%= form.text_field :avatar %>
            <%= form.text_field :avatar_unlock %>
            <%= form.text_field :force %>
            <%= form.text_field :exp_joueur %>
            <%= form.text_field :classe %>
            <%= form.text_field :inventaire %>
            <%= form.text_field :sac_a_dos %>
            <%= form.text_field :argent %>
            <%= form.text_field :pv %>
            <%= form.text_field :vitesse %>
            <%= form.text_field :user_id %>
        </div>
        
        <div class="flex justify-content">
            <input type="submit" name="commit" value="Commencer votre aventure" data-disable-with="Commencer votre aventure" id="submit">
        </div>
    <% end %>
</div>

<script src="/javascript/personnage.js">
</script>

