<%= stylesheet_link_tag('personnage') %>

<div class="container menu">

    <h1>Choisissez votre classe</h1>

    <div class="flex space-between" id="images-menu">
        <div class="avatar" id="avatar-1">
            <h1>Archer</h1>
        </div>
        <div class="avatar" id="avatar-3">
            <h1>Assassin</h1>
        </div>
        <div class="avatar" id="avatar-5">
            <h1>Chevalier</h1>
        </div>
        <div class="avatar" id="avatar-7">
            <h1>Mage</h1>
        </div>
    </div>


    <%= form_with url: personnage_new_path do |form| %>
        <div>
            <%= form.label :avatar %><br>
            <%= form.text_field :avatar %>
        </div>
        <div>
            <%= form.label :classe %><br>
            <%= form.password_field :classe %>
        </div>
        <p>
            <%= form.submit %>
        </p>
    <% end %>
</div>

