<%= stylesheet_link_tag('personnage') %>

<div class="container menu">

    <img id="status-volume-on" src="https://evarthel.com/mp3/volume_on.png" class="volume_icon status-volume">
    <img id="status-volume-off" src="https://evarthel.com/mp3/volume_off.png" class="volume_icon status-volume">

    <div id="retourPrincipal">
        Retour
    </div>

    <h1>Choisissez votre classe</h1>

    <div class="flex space-between" id="images-menu">
        <div class="avatar" id="avatar-1">
            <h1>Archer</h1>
        </div>
        <div class="avatar" id="avatar-3">
            <h1>Assassin</h1>
        </div>
        <div class="avatar" id="avatar-5">
            <h1>Chevalier</h1>
        </div>
        <div class="avatar" id="avatar-7">
            <h1>Mage</h1>
        </div>
    </div>


    <%= form_with url: personnage_new_path do |form| %>
        <div class="hidden">
            <%= form.label :avatar %><br>
            <%= form.text_field :avatar %>
        </div>
        <div class="hidden">
            <%= form.label :classe %><br>
            <%= form.password_field :classe %>
        </div>
        <div class="flex justify-content">
            <input type="submit" name="commit" value="Commencer votre aventure" data-disable-with="Commencer votre aventure" id="submit">
        </div>
    <% end %>
</div>

<script src="/javascript/personnage.js">
</script>

