<%= stylesheet_link_tag('gamemaster') %>
<%= favicon_link_tag asset_path('zyro-image.png') %>

<%if @gamemaster %>
    <h1>tkt</h1>
    <%= form_with model: @quete, url: gamemaster_updateQuete_path do |form| %>
    <div>
        <%= form.label :titre %><br>
        <%= form.text_field :titre %>
    </div>
    <div>
        <%= form.label :description %><br>
        <%= form.text_field :description %>
    </div>
        <div>
        <%= form.label :recompenses %><br>
        <%= form.text_field :recompenses %>
    </div>
    <div>
        <%= form.label :objectif %><br>
        <%= form.text_field :objectif %>
    </div>
    <p>
        <%= form.submit "submit" %>
    </p>
    <% end %>
<% end %>