<%= stylesheet_link_tag('gamemaster') %>
<%= favicon_link_tag asset_path('zyro-image.png') %>

<%if @gamemaster %>
    <div class="container">
        <h1>Gestion des objets</h1>
        <table>
            <tr>
                <th></th>
                <th>ID</th>
                <th>Nom</th>
                <th>Rareté</th>
                <th colspan="3">Interaction</th>
            </tr>

            <% @objets.each do |objet| %>
                <tr>
                    <td><img src=<%= objet.image %>></td>
                    <td><%= objet.id %></td>
                    <td><%= objet.nom %></td>
                    <td><%= objet.rarete %></td>
                    <td><%= link_to 'Afficher +', gamemaster_showItem_path(id: objet.id) %></td>
                    <td><%= link_to 'Modifier', gamemaster_editItem_path(id: objet.id) %></td>
                    <td><%= link_to 'Supprimer', gamemaster_destroyItem_path(id: objet.id),
                            method: :delete,
                            data: { confirm: "En faisant ça vous allez supprimer l'utilisateur et le pnj lié avec. Êtes vous sûr ?" } %></td>
                </tr>
            <% end %>
        </table>
        <%= link_to 'Créer un nouvel ITEM', gamemaster_newItem_path %>
    </div>
<% end %>