<%= stylesheet_link_tag('gamemaster') %>

<h1>tkt</h1>
<%= form_with model: @pnjzone, url: gamemaster_createPnjZone_path do |form| %>
  <div>
    <%= form.label :pnj_id %><br>
    <%= form.text_field :pnj_id %>
  </div>
  <div>
    <%= form.label :zone %><br>
    <%= form.text_field :zone %>
  </div>
  <p>
    <%= form.submit "submit" %>
  </p>
<% end %>