<div id="header-inventaire" class="flex align-items space-between">
    <img src=<%= @personnage.avatar %>>
    <div class="flex column">
        <% for i in 0..2 do %>
            <% if @equipe_triee[i] != nil %>
                <% 
                    chaineData = @equipe_triee[i].data
                    data = chaineData.split(":")
                    if data[0] == "Point de vie"
                        classeData = "pv"
                    elsif data[0] == "Point d'attaque"
                        classeData = "force"
                    elsif data[0] == "Point d'exp"
                        classeData = "exp"
                    elsif data[0] == "Vitesse"
                        classeData = "vitesse"
                    elsif data[0] == "Valeur"
                        classeData = "valeur"
                    else 
                        classeData = "none"
                    end
                %>
                <div class="case maj caseUtilisé" id=<%= @equipe_triee[i].id %> style="background-image: url(<%= @equipe_triee[i].image %>);" data-toggle="tooltip" data-html="true" data-placement="right" title="<div class='title'><h6 class='maj'><%= @equipe_triee[i].nom %></h6><h5 class='<%= @equipe_triee[i].rarete %> rarete maj'><%= @equipe_triee[i].rarete %></h5><p class='maj'><%= @equipe_triee[i].description %></p><h6 class='<%= classeData %> data'><%= @equipe_triee[i].data %></h6></div>"></div>
                <div class="menuContextuel dropdown-menu" data-id=<%= @equipe_triee[i].id %>>
                    <div>
                        <%= link_to "Déséquiper", jeu_objetDesequipe_path(objet_id: @equipe_triee[i].id, user_id: session[:user_id]), class: "desequipe-link" %>
                    </div>
                </div>
            <% else %>
                <div class="case"></div>
            <% end %>
        <% end %>
    </div>
</div>
<div class="main-case">
<% number = 0 %>
    <% for i in 1..@rangee do %>
    <div class="flex">
        <% for a in 1..5 do %>
            <% if @structured_inventaire[number] %>
                <% 
                    chaineData = @structured_inventaire[number][0].data
                    data = chaineData.split(":")
                    if data[0] == "Point de vie"
                        classeData = "pv"
                    elsif data[0] == "Point d'attaque"
                        classeData = "force"
                    elsif data[0] == "Point d'exp"
                        classeData = "exp"
                    elsif data[0] == "Vitesse"
                        classeData = "vitesse"
                    elsif data[0] == "Valeur"
                        classeData = "valeur"
                    else 
                        classeData = "none"
                    end
                %>
                <div class="case maj caseUtilisé" id="<%= number %>inventaire<%= @structured_inventaire[number][0].id %>" style="background-image: url(<%= @structured_inventaire[number][0].image %>);" data-toggle="tooltip" data-html="true" data-placement="right" title="<div class='title'><h6 class='maj'><%= @structured_inventaire[number][0].nom %></h6><h5 class='<%= @structured_inventaire[number][0].rarete %> rarete maj'><%= @structured_inventaire[number][0].rarete %></h5><p class='maj'><%= @structured_inventaire[number][0].description %></p><h6 class='<%= classeData %> data'><%= @structured_inventaire[number][0].data %></h6></div>">
                    <% if @structured_inventaire[number][1] != 1 %>
                        <h4 class="infoData"><%= @structured_inventaire[number][1] %></h4>
                    <% end %>
                </div>
                <div class="menuContextuel dropdown-menu" data-id="<%= number %>inventaire<%= @structured_inventaire[number][0].id %>">
                    <% if @structured_inventaire[number][0].caracteristique == "équipable" %>
                        <div>
                            <%= link_to "Équiper", jeu_objetEquipe_path(objet_id: @structured_inventaire[number][0].id, user_id: session[:user_id]), class: "equip-link" %>
                        </div>
                    <% end %>
                    <% if @structured_inventaire[number][1] > 1 %>
                        <div>
                            <%= form_with url: jeu_objetSupprQuantite_path, method: :post do |form| %>
                                <%= form.number_field :quantite, min: 1, max: @structured_inventaire[number][1], value: 1 %>
                                <%= form.hidden_field :objet_id, value: @structured_inventaire[number][0].id %>
                                <%= form.hidden_field :user_id, value: session[:user_id] %>
                                <%= form.submit "Jeter", class: "your-custom-class" %>
                            <% end %>
                            </div>
                        <div>
                            <%= link_to "Jeter la pile", jeu_objetSupprQuantite_path(objet_id: @structured_inventaire[number][0].id, user_id: session[:user_id], quantite: @structured_inventaire[number][1]) %>
                        </div>
                    <% else %>
                        <div>
                            <%= link_to "Jeter", jeu_objetSuppr_path(objet_id: @structured_inventaire[number][0].id, user_id: session[:user_id]) %>
                        </div>
                    <% end %>
                </div>
            <% else %>
                <div class="case" id=<%= number %>></div>
            <% end %>
            <% number += 1 %>
        <% end %>
    </div>
    <% end %>
</div>