<%= stylesheet_link_tag('jeu') %>

<div id="main">
    <img id="status-volume-on" src="/images/volume_on.png" class="volume_icon status-volume">
    <img id="status-volume-off" src="/images/volume_off.png" class="volume_icon status-volume">
    <div class="container flex justify-content main" id="main-content">
        <div class="flex justify-content column contenu" id="contenu">
            <img src="/images/zyro-image.png" id="logo">
            <h1 class="text-align">Bienvenue dans Nocturna <%= @user.name %></h1>
        </div>
    </div>
    <div id="options">
        <div id="main-menu">
            <div class="lg bg flex align-items justify-content" id="reprendre-partie">
                <h1>Reprendre</h1>
            </div>
            <div class="flex menu-md">
                <div class="md bg flex align-items justify-content left" id="option-button">
                    <h1>Options</h1>
                </div>
                <div class="md bg flex align-items justify-content right" id="quitter-button">
                    <h1>Quitter</h1>
                </div>
            </div>
        </div>
        <div id="options-menu">
            <div class="flex menu-md">
                <div class="md bg flex align-items justify-content left" id="audio-button">
                    <h1>Audio</h1>
                </div>
                <div class="md bg flex align-items justify-content right" id="profil-button">
                    <h1>Profil</h1>
                </div>
            </div>
            <div class="lg bg flex align-items justify-content" id="retour-option">
                <h1>Retour</h1>
            </div>
        </div>
        <div id="audio-menu">
            <div class="lg bg msg flex align-items justify-content column">
                <h1>Utilisez Firefox pour ne pas avoir à réactiver le son à chaque fois</h1>
                <div class="flex align-items justify-content space-between w-100 container_volume_icon">
                    <img src="/images/volume_on.png" class="volume_icon">
                    <h1>Son activé</h1>
                </div>
                <div class="flex align-items justify-content space-between w-100 container_volume_icon">
                    <img src="/images/volume_off.png" class="volume_icon">
                    <h1>Son desactivé</h1>
                </div>
            </div>
            <div class="flex menu-md">
                <div class="md bg flex align-items justify-content left">
                    <label for="volume-music">Musique</label>
                    <input type="range" id="volume-music" name="volume-music" min="0" max="10" steps="1">
                </div>
                <div class="md bg flex align-items justify-content right">
                    <label for="volume-effect">Effet</label>
                    <input type="range" id="volume-effect" name="volume-effect" min="0" max="10" steps="1">
                </div>
            </div>
            <div class="lg bg flex align-items justify-content" id="retour-audio">
                <h1>Retour</h1>
            </div>
        </div>
        <div id="profil-menu">
            <div id="profil">
                <div class="flex align-items space-between">
                    <img src=<%= @personnage.avatar %> id="avatar-profil">
                    <h1 class="color username"><%= @user.name %></h1>
                </div>
                <div class="flex align-items">
                    <h1>Classe : </h1>
                    <h1 class="color info classe"><%= @personnage.classe %></h1>
                </div>
                <div class="flex align-items">
                    <h1>Niveau : </h1>
                    <h1 class="color info"><%= @personnage.exp_joueur %></h1>
                </div>
                <div class="flex align-items">
                    <h1>Argent : </h1>
                    <h1 class="color info"><%= @personnage.argent %> écus</h1>
                </div>
                <div class="flex align-items">
                    <h1>Point de vie : </h1>
                    <h1 class="color info"><%= @personnage.pv %></h1>
                </div>
                <div class="flex align-items">
                    <h1>Force : </h1>
                    <h1 class="color info"><%= @personnage.force %></h1>
                </div>
                <div class="flex align-items">
                    <h1>Vitesse : </h1>
                    <h1 class="color info"><%= @personnage.vitesse %></h1>
                </div>
            </div>
            <div class="lg bg flex align-items justify-content" id="retour-profil">
                <h1>Retour</h1>
            </div>
        </div>
    </div>
</div>
    
<script type="text/javascript" src="/javascript/jeu.js"></script>