<%= stylesheet_link_tag('jeu') %>
<%= favicon_link_tag asset_path('zyro-image.png') %>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<meta name="csrf-token" content="<%= form_authenticity_token %>">

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<body data-username="<%= @user.name %>">

<img id="status-volume-on" src="/images/volume_on.png" class="volume_icon status-volume">
<img id="status-volume-off" src="/images/volume_off.png" class="volume_icon status-volume">

<img id="sac-a-dos" src="/images/sac_a_dos.jpg">

<% if @narration.nil? %>
    <div id="pnj">
        <div class="flex">
            <div class="text">
                <h2>Eldrin :</h2>
                <h4 id="dialogue"></h4>
                <div id="continue-indicator">&#x25BC;</div>
            </div>
            <img id="pnj-narratif" src="/images/pnj-narratif.jpg">
        </div>
    </div>
<% end %>



<div id="inventaire">
    <div id="contenu-inventaire">
        <%= render partial: "inventaire", locals: { 
            personnage: @personnage, 
            equipe_triee: @equipe_triee, 
            rangee: @rangee, 
            structured_inventaire: @structured_inventaire 
        } %>
    </div>
</div>

<div id="options">
    <%= render partial: "options", locals: {
        personnage: @personnage,
        user: @user,
        stats: @stats
    } %>
</div>

<script type="text/javascript" src="/javascript/jeu.js">
</script>
<script>
    $(document).ready(function() {
        $('.caseUtilisé').on('contextmenu', function(event) {
            event.preventDefault(); 

            localStorage.setItem("token", "0");
            localStorage.setItem("autoReload", "true");

            var idElement = $(this).attr('id');
            var $menuContextuel = $('.menuContextuel[data-id="' + idElement + '"]');

            $(this).tooltip('hide');
            $('.caseUtilisé').tooltip('disable');

            // Positionner et afficher le menu contextuel
            $menuContextuel.css({
                display: 'block',
                left: event.pageX + 'px',
                top: event.pageY + 'px'
            });

            // Fermer les autres menus contextuels
            $('.menuContextuel').not($menuContextuel).hide();
        });

        // Modification ici
        $(document).on('click', function(event) {
            var $target = $(event.target);
            if (!$target.closest('.menuContextuel').length) {
                $('.menuContextuel').hide();
                $('.caseUtilisé').tooltip('enable');
            }
        });
    });
</script>

</body>