<%= stylesheet_link_tag('accueil') %>

<img id="status-volume-on" src="/images/volume_on.png" class="volume_icon status-volume">
<img id="status-volume-off" src="/images/volume_off.png" class="volume_icon status-volume">

<div class="container menu" id="menu">
<img src="/images/zyro-image.png" id="logo">
<% if @user %>
    <div id="main-menu">
        <% if @personnage %>
            <div class="lg bg flex align-items justify-content" id="continuer-partie">
                <h1>Continuer</h1>
            </div>
        <% end %>
        <% if @personnage %>
            <div class="lg bg flex align-items justify-content" id="partie-existante">
                <h1>Nouvelle partie</h1>
            </div>
        <% else %>
            <div class="lg bg flex align-items justify-content" id="nouvelle-partie">
                <h1>Nouvelle partie</h1>
            </div>
        <% end %>
        <div class="flex menu-md">
            <div class="md bg flex align-items justify-content left" id="option-button">
                <h1>Options</h1>
            </div>
            <form class="button_to md bg flex align-items justify-content right" method="post" action="/register/destroy">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Se déconnecter" id="submit">
                <input type="hidden" name="authenticity_token" value="brKcXums0HZAfJMR2EixDH0T3igZiHrenv88yNeqMiPzhOsZlIqdFM1+/Aw8ddw+kib2sw3HaE3btX+iUDCIKg==">
            </form>
        </div>
        <% if @gamemaster %>
            <div class="lg bg flex align-items justify-content" id="gamemaster-button">
                <h1 class="color">Gamemaster</h1>
            </div>
        <% end %>
    </div>
    <div id="options-menu">
        <div class="flex menu-md">
            <div class="md bg flex align-items justify-content left" id="audio-button">
                <h1>Audio</h1>
            </div>
            <div class="md bg flex align-items justify-content right" id="profil-button">
                <h1>Profil</h1>
            </div>
        </div>
        <div class="lg bg flex align-items justify-content" id="retour-option">
            <h1>Retour</h1>
        </div>
    </div>
    <div id="audio-menu">
        <div class="lg bg msg flex align-items justify-content column">
            <h1>Utilisez Firefox pour ne pas avoir à réactiver le son à chaque fois</h1>
            <div class="flex align-items justify-content space-between w-100 container_volume_icon">
                <img src="/images/volume_on.png" class="volume_icon">
                <h1>Son activé</h1>
            </div>
            <div class="flex align-items justify-content space-between w-100 container_volume_icon">
                <img src="/images/volume_off.png" class="volume_icon">
                <h1>Son desactivé</h1>
            </div>
        </div>
        <div class="flex menu-md">
            <div class="md bg flex align-items justify-content left">
                <label for="volume-music">Musique</label>
                <input type="range" id="volume-music" name="volume-music" min="0" max="10" steps="1">
            </div>
            <div class="md bg flex align-items justify-content right">
                <label for="volume-effect">Effet</label>
                <input type="range" id="volume-effect" name="volume-effect" min="0" max="10" steps="1">
            </div>
        </div>
        <div class="lg bg flex align-items justify-content" id="retour-audio">
            <h1>Retour</h1>
        </div>
    </div>
    <div id="profil-menu">
        <div id="profil">
            <div class="flex align-items space-between">
                <% if @personnage %>
                    <img src=<%= @personnage.avatar %> id="avatar-profil">
                <% else %>
                    <img src="/images/no_avatar.jpg" id="avatar-profil">
                <% end %>
                <h1 class="color username"><%= @user.name %></h1>
            </div>
            <% if @personnage %>
                <div class="flex align-items">
                    <h1>Classe : </h1>
                    <h1 class="color info classe"><%= @personnage.classe %></h1>
                </div>
                <div class="flex align-items">
                    <h1>Niveau : </h1>
                    <h1 class="color info"><%= @personnage.exp_joueur %></h1>
                </div>
                <div class="flex align-items">
                    <h1>Argent : </h1>
                    <h1 class="color info"><%= @personnage.argent %> écus</h1>
                </div>
                <div class="flex align-items">
                    <h1>Point de vie : </h1>
                    <h1 class="color info"><%= @personnage.pv %></h1>
                </div>
                <div class="flex align-items">
                    <h1>Force : </h1>
                    <h1 class="color info"><%= @personnage.force %></h1>
                </div>
                <div class="flex align-items">
                    <h1>Vitesse : </h1>
                    <h1 class="color info"><%= @personnage.vitesse %></h1>
                </div>
            <% end %>
        </div>
        <div class="lg bg flex align-items justify-content" id="retour-profil">
            <h1>Retour</h1>
        </div>
    </div>
</div>
<% if @personnage %>
    <div id="alert" class="flex justify-content align-items column">
        <h1 class="attention">Attention !</h1>
        <h1>Si vous commencez une nouvelle partie vous perdrez toute progression</h1>
        <div class="flex align-items">
            <h1>Classe : </h1>
            <h1 class="color info classe"><%= @personnage.classe %></h1>
        </div>
        <div class="flex align-items">
            <h1>Niveau : </h1>
            <h1 class="color info"><%= @personnage.exp_joueur %></h1>
        </div>
        <div class="flex align-items">
            <h1>Argent : </h1>
            <h1 class="color info"><%= @personnage.argent %> écus</h1>
        </div>
        <div class="flex align-items">
            <h1>Point de vie : </h1>
            <h1 class="color info"><%= @personnage.pv %></h1>
        </div>
        <div class="flex align-items">
            <h1>Force : </h1>
            <h1 class="color info"><%= @personnage.force %></h1>
        </div>
        <div class="flex align-items">
            <h1>Vitesse : </h1>
            <h1 class="color info"><%= @personnage.vitesse %></h1>
        </div>
        <div class="flex space-between button-container">
            <div class="button">
                <button id="button-annuler">Annuler</button>
            </div>
            <div class="button">
                <button id="button-continuer">Continuer</button>
            </div>
        </div>
    </div>
<% end %>
<% else %>
    <div id="unconnected"></div>
<% end %>

<script type="text/javascript" src="/javascript/accueil.js">
</script>